body{
  /* border: solid 2px violet; */
  margin: auto;  
  font-family: 'Poppins', sans-serif;
  /* Center the card */
  display: flex;
  justify-content: center;
  min-height: 100dvh;
  align-items: center;
}

